* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.4;
  color: #000;
  background: #fff;
  height: 100vh;
  font-weight: 400;
  background-color: rgb(250, 246, 241);
}

.pageContainer {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
