input {
  margin: 0;
  padding: 0;
  outline: none;
  color: black;
  font-size: x-large;
  font-weight: bold;
  outline: none;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style:hidden;
  border: 1px gray solid;
}

.row {
  display: flex;
  row-gap: 0;
  column-gap: 0;
}

.input-text {
  background-color: rgb(145, 144, 144);
  color: white;
  width: 100%;
  height: 10vh;
  text-align: end;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 40vw;
  flex-wrap: wrap;
  align-self: center;
}

td {
  display: flex;
  width: 100%;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 221, 223);
  height: 6rem;
  flex-grow: 1;
}

.op {
  background-color: rgb(238, 154, 69);
}

div {
  display: flex;
  justify-content: center;
  /* justify-content: flex-end; */
  /* height: 80vh;
  width: 100vw; */
}

.zero {
  width: 200%;
}

table {
  margin: 0;
}